# Project configuration for {{ project_name }}

project:
  name: {{ project_name }}
{% if github_repo %}
  github_repo: {{ github_repo }}
{% endif %}
{% if enable_gh_integration %}
  gh_integration: true
{% endif %}
